@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
}
}